
{{ form_start(form) }}

<div class="row">
    <div class="col-md">{{ form_row(form.titre) }} </div>

</div>

<div class="row">
    <div class="col-md">{{ form_row(form.descri) }} </div>


</div>


{{ form_widget(form) }}
<button class="btn btn-success"><a class="btn">{{ button_label|default('Save') }}</a></button>
{{ form_end(form) }}


