{% extends 'base.html.twig' %}

{% block title %}Formateur index{% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Formateur</h1>
<p>
Ex consectetur aute aliqua Lorem magna sint aute reprehenderit exercitation exercitation. Ipsum eu do et officia enim non occaecat adipisicing nisi ea ullamco. Anim ullamco magna est eu cupidatat commodo proident mollit eu ea.
</p>

</div>
{% for message in app.flashes('success')  %}

<div class="alert alert-success"> 

{{message}}

</div>

{% endfor  %}
<div class="container">

<div class="row flex" >

 {% for formateur in formateurs %}


  <div class="col-3" style="max-width: 33%;">
    <div class="card" style="margin-top:15px;" >
     <div class="card-body">
         {% if formateur.formateurfilename %}
             <img src=" {{  vich_uploader_asset( formateur, 'imageFormateur') | imagine_filter('thumb') }}" alt="card-img-top">
         {% endif %}
      <p class="card title">
     
<h5> Formateur: {{ formateur.nomF }} {{ formateur.prenomF }} </h5>
         <h6> Titre pro :{{ formateur.titreF }}</h6>
         <a href={{ formateur.lienF}}>linkedin</a>


         </p>



<div class="row">

  </div>

         <p>{{ formateur.defF }}</p>



  

    








     <button  class="btn btn-primary" style="margin:6px;"><a class="text-light" style="text-decoration:none;" href="{{ path('formateur_show', {'id': formateur.id}) }}">Show</a>
     <button  class="btn btn-warning"><a class="text-light" style="text-decoration:none;" href="{{ path('formateur_edit', {'id': formateur.id}) }}">Edit</a></button>
     </div>
    </div>
    






  </div>


  
          {% endfor %}
 <div class="card" style="margin:15px;" >
     <div class="card-body">
      <h5 class="card title">
<a href="#">Une autre formateur ici </a>
      </h5>
     <div class="text-primary"> 
      <button  class="btn btn-success"><a class="text-light" style="text-decoration:none;"  href="{{ path('formateur_new') }}">Create new</a>
</div>
   
     </div>
    </div>
</div>


</div>

{% endblock %}
