{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Cours</h1>
        <p>
            Ex consectetur aute aliqua Lorem magna sint aute reprehenderit exercitation exercitation. Ipsum eu do et officia enim non occaecat adipisicing nisi ea ullamco. Anim ullamco magna est eu cupidatat commodo proident mollit eu ea.
        </p>

    </div>
    {% for message in app.flashes('success')  %}

        <div class="alert alert-success">

            {{message}}

        </div>

    {% endfor  %}
    <div class="container">

        <div class="row flex" >

            {% for cour in cours %}


                <div class="col-3" style="max-width: 33%;">
                    <div class="card" style="margin-top:15px;" >
                        <div class="card-body">
                            {% if cour.courfilename %}
             <img src=" {{  vich_uploader_asset( cour, 'imageCour') | imagine_filter('cover') }}" alt="card-img-top" >
         {% endif %}


         <p class="card title">
     
       
<h5>{{ cour.titre }}   </h5>
 <h6 class="card-subtitle mb-2 text-muted"></h6>
  

       </p>



                            <div class="row">
                                <div class="col-sm">
                                    <b>Formation:    </b>
                                </div>
                                <div class="col-sm">
                                    <i>{{ cour.formation.nom }} </i>
                                </div>

                            </div>
                          



                            <button  class="btn btn-primary" style="margin:6px;"><a class="text-light" style="text-decoration:none;" href="{{ path('cours_show', {'id': cour.id}) }}">Show</a>
                                <button  class="btn btn-warning"><a class="text-light" style="text-decoration:none;" href="{{ path('cours_edit', {'id': cour.id}) }}">Edit</a></button>
                    </div>
                        </div>








                    </div>

  {% else %}

                            <div class="row">
                                <div class="col-sm">
                                    <b>Error:    </b>
                                </div>
                                <div class="col-sm">
                                    <b>no records found </b>
                                </div>

            {% endfor %}
                                {% if cours|length == 0 %}
                    <div class="card" style="margin:15px;" >
                        <div class="card-body">
                            <h5 class="card title">
                                <a href="#">Un autre cour ici </a>
                            </h5>
                            <div class="text-primary">
                                <button  class="btn btn-success"><a class="text-light" style="text-decoration:none;"  href="{{ path('cours_new') }}">Create new</a>
                            </div>

                        </div>
                    </div>
                                {% endif %}
        </div>


    </div>
{% endblock %}
