{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ cour.titre }}</td>
            </tr>




                 <tr>
                
                <th>formation</th>
                      
               </tr>

 



        </tbody>
    </table>


    <table class="borderless  mt-5" >
        <tr>
            <td  >  <button style="margin:6px;"  class="btn btn-primary"><a class="text-light btn "   href="{{ path('cours_index') }}">Back to list</a></button>
            </td>
            <td > <button style="margin:6px;"  class="btn btn-warning"><a class="text-light btn"   href="{{ path('cours_edit', {'id': cour.id}) }}">Edit</a></button></td>
            <td  >         {{ include('cours/_delete_form.html.twig') }}


            </td>
        </tr>
    </table>




{% endblock %}
